<ion-view>
<ion-content class="background" scroll="false"></ion-content>
<div class="fixed-outside">
     <div class="row">
            <div class="col">
                <button class="button button-calm icon ion-social-twitter">&nbsp;twitter</button>
            </div>
            <div class="col">
                <button class="button button-positive icon ion-social-facebook" ng-click="goToComponents()">&nbsp;facebook</button>
            </div>
     </div>
     <div class="row padding">
            <div class="col">
                <a ng-click="showLogin()">Sign in with Email</a>
            </div>
            <div class="col">
                <a ng-click="showSignup()">Create Account</a>
            </div>
     </div>
	<p class="text-center"><a href="#/app/forgot-password">Forgot password</a></p>
</div>
<script id="my-modal.html" type="text/ng-template">
            <ion-modal-view>
                <ion-header-bar>
                    <h1 class="title">My Modal Title</h1>
                </ion-header-bar>
                <ion-content class="padding">
                    My Modal Contents
                </ion-content>
            </ion-modal-view>
        </script>
</ion-view>